# Ignore common development files
.env
.env.*

# Ignore development and runtime artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.egg-info/

# Ignore Docker-specific files
Dockerfile
docker-compose.yml

# Ignore local development files
.vscode/
.idea/
.local/

# Ignore logs
*.log

# Ignore system and temporary files
.DS_Store
Thumbs.db
